<p>Variable1 = ${var1}</p>
<!-- To set variable inline, use set function: set('var2', 'test-2') -->
<p>Set inline variable = ${set('var2', 'test-2')}</p>
<p>Show inline variable = ${var2}</p>
OR
<p>Show inline variable = ${get('var2')}</p>